<!DOCTYPE html>
<html>
  <head>
    <title>Personal Finance App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="site-name">
        <%= link_to "App Home Page", imports_path %>
      </div>
      <%= render "layouts/nav" %>
    </div>
    <%= yield %>
  </body>
</html>
